*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    }
    
#main{
    margin: auto;
    max-width: 1440px;
    width: auto;
}
    
.euro{
    font-weight: bold;
}
    
    
    
/***NAVIGATION***/
.header{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo blank nav sign";
    align-items: center;
    margin: auto;
    padding: 0 1.8rem 0 1.8rem;
    max-width: 1440px;
}
    
.logo{
    grid-area: logo;
    cursor: pointer;
    margin-right: auto;
    margin-top: 1.8rem;
}
    
.links{
    grid-area: nav;
    display: flex;
    align-items: center;
}
    
.links a{
    text-decoration: none;
}
    
.hostings{
    border-top: 2px solid #0065FC;
    padding: 50px 25px 30px 25px;
    color: #0065FC;
}
    
.hostings a{
    color: #0065FC;
}
    
.activities{
    padding: 50px 25px 30px 25px;
    border-top: 2px transparent solid;
    color: black;
}
    
.activities:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
    
.sign_up{
    grid-area: sign;
    color: #0065FC;
    text-decoration: none;
    font-weight: bold;
    padding: 50px 25px 30px 25px;
}

@media only screen and (min-width: 320px) and (max-width: 1024px){
    
    .header{
        padding: 0;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
        "logo blank sign"
        "nav nav nav"
        ;
    }
    
    .logo{
        grid-area: logo;
        padding: 1rem;
    }
    
    .sign_up{
        grid-area: sign;
        margin-right: 1rem;
    }
    
    .links{
        grid-area: nav;
    }
    
    .hostings{
        text-align: center;
        border-top: none;
        border-bottom: 2px solid #F2F2F2;
        width: 100%;
      }
    
    .activities{
        text-align: center;
        border-top: none;
        border-bottom: 2px solid #F2F2F2;
        width: 100%;
      }
    
    .hostings:hover {
        border-bottom-color: #0065FC;
      }
    
    .activities:hover {
        border-top: none;
        border-bottom-color: #0065FC;
      }
}
/***NAVIGATION***/
    
    
    
/*** TITRE ***/
.filters__h1{
    text-align: left;
}
    
.section_header{
    justify-content: flex-start;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
}
    
.title_size{
    font-size: 24px;
}
/*** TITRE ***/
    
    
    
/*** SEARCH ***/
.SearchForm{
    display: flex;
    padding: 20px 0 0 0;
    padding: 2rem;
}
    
.SearchMapIcon{
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 15px 0 0 15px;
    background-color: #f2f2f2;
}
    
.FormInput{
    width: 240px;
    border: 1px solid #f2f2f2;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
}
    
::placeholder{
    color: black; /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
}
    
.POI{
    padding: 15px 20px;
}
    
.SearchSubmit{
    width: 120px;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    border: none;
}
    
.SearchText{
    font-weight: 800;
    font-size: 15px;
    color: #FFF;
}

@media only screen and (min-width: 320px) and (max-width: 374px){
    .FormInput{
        width: 170px;
        padding-left: 5px;
    }
}

@media only screen and (max-width: 767px){
    
    .SearchForm{
        width: 100%;
    }
    
    .SearchText{
        display: none;
    }  
    
    .SearchSubmit{
        background-color: #0065FC;
        color: white;
        font-size: 15px;
        font-weight: 800;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 15px;
        margin: 0 0 0 -10px;
    }
}
    
@media screen and (min-width: 768px){
    .SearchMagnifyingIcon{
    display: none;
    }
}
/*** SEARCH ***/
    
    
    
/*** FILTRES ***/
.nav_filters{
    display: flex;
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;
}
    
.filters_h1{
    margin-right: 1.5rem;
    margin-top: 1rem;
}
    
.filters{
    display: flex;
    flex-wrap: wrap;
}
    
#button_filter1{
    display: flex;
    border: 2px solid #d9d9d9;
    border-radius: 25px; 
    width: 180px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 1.5rem;
    margin-top: 1rem;
}
    
#button_filter2{
    display: flex;
    border: 2px solid #d9d9d9;
    border-radius: 25px; 
    width: 150px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 1.5rem;
    margin-top: 1rem;
}
    
#button_filter3{
    display: flex;
    border: 2px solid #d9d9d9;
    border-radius: 25px; 
    width: 180px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 1.5rem;
    margin-top: 1rem;
}
    
#button_filter4{
    display: flex;
    border: 2px solid #d9d9d9;
    border-radius: 25px; 
    width: 230px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 1.5rem;
    margin-top: 1rem;
}
      
.icon_filter{
    width : 100%;
    background-color: #deebff;
    margin: -2px 0 0 -2px;
    width: 50px;
    height: 50px;
    color: #0065FC;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.button{
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
}
    
.FiltersHoverEffect:hover{
    transition: transform .3s;
    transform: scale(1.2);
}


@media only screen and (min-width: 320px) and (max-width: 1010px){
    .nav_filters{
        display: flex;
        flex-direction : column;
    }
        
    .filters_h1{
        align-self: flex-start;
    }
}
/*** FILTRES ***/
    
    
    
/*** INFOS ***/
.information{
    display: grid;
    column-gap: 1rem;
    grid-template-columns: auto 1fr;
    grid-template-areas: "icon text";
    align-items: center;
    margin: 2rem;
}
    
.icon{
    grid-area: icon;
    color: #0065FC;
    height: 35px;
    width: 35px;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TextInformation{
    grid-area: text;
}
/*** INFOS ***/
    
    
    
/*** Hostings and Populars Container***/
#HostPop{
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 2fr 1fr;
    margin: 2rem;
}

@media only screen and (min-width: 768px){
    .HostingsTitle{
        grid-column: 1/4;
        grid-row: 1/2;
    }
    
    .ShowMoreText{
        grid-column: 1/4;
        grid-row: 4/5;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1366px){
    #HostPop{
        display: grid;
        row-gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "aside"
        "hostings"
        ;
    }
    
    #hostings{
        grid-area: hostings;
        width: 100%;
    }
    
    #aside{
        grid-area: aside;
        width: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 667px){
    #HostPop{
        margin: 0;
        display: grid;
        row-gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "aside"
        "hostings"
        ;
    }
    
    #hostings{
        grid-area: hostings;
        background: none;
        width: 100%;
        padding: 2rem;
        row-gap: 1rem;
    }
    
    #aside{
        grid-area: aside;
        width: 100%;
        padding: 0.5rem;
        row-gap: 0.5rem;
        border-radius: 0px;
    }

    .order{
        width: 160px;
    }
}
/*** Hostings and Populars Container***/
    
    
    
/*** HEBERGEMENTS ***/
#hostings{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 20px;
}

@media only screen and (max-width: 767px){
    #hostings{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    #hostings{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr 1fr auto;
    }

    .HostingsTitle{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    
    .ShowMoreText{
        grid-column: 1/3;
        grid-row: 5/6;
    }
}

.card_container{
    border-radius: 20px;
    padding: 0.5rem;
    box-shadow: 0px 2px 30px 0px lightgray;
    background-color: white;
    align-content: stretch;
}
    
.HostingsCard{
    text-decoration: none;
    color: black;
}
    
.HostingsPicture{
    width: 100%;
    height: 112px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}
    
.HostingsCardDescription{
    padding: 5px 0 0 10px;
}
    
.HostingsCardTitle{
    font-size: 1rem;
}
    
.HostingsCardText{
    padding: 5px 0 0 0;
}
    
.ShowMoreText{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: black;
}
/*** HEBERGEMENTS ***/
    
    
    
/*** Stars ***/
.Stars{
    display: flex;
    padding: 5px 0 0 0;
}

.StarsAside{
    display: flex;
    margin-top: 1rem;
}
    
.BlueStars{
    color: #0065FC;
}
    
.GreyStars{
    color: #d9d9d9;
}
/*** Stars ***/
    
    
    
/*** POPULARS ***/
#aside{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    row-gap: 2rem;
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    #aside{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr 1fr;
        row-gap: 2rem;
        padding: 4rem;
        background-color: #f2f2f2;
        border-radius: 20px;
    }
}
    
.AsideTitleLine{
    display: flex;
    justify-content : space-between;
}
    
.card_aside{
    border-radius: 20px;
    padding: 0.5rem;
    box-shadow: 0px 2px 30px 0px lightgray;
    background: white;
    align-items: stretch;
}
    
.card2{
    display: flex;
    text-decoration: none;
    color: black;
}
    
.order{
    display: flex;
    flex-direction : column;
    padding: 10px 0 0 20px;
}
    
.PopularCardTitle{
    font-size: 1rem;
}
    
.photo_aside{
    width: 125px;
    height: 135px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (min-width: 1024px) and (max-width: 1366px){

    #aside{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr;
        column-gap: 1rem;
        row-gap: 2rem;
        padding: 2rem;
        background-color: #f2f2f2;
        border-radius: 20px;
    }

    .AsideTitleLine{
        grid-column: 1/4;
    }    

}
/*** POPULARS ***/


    
/*** ACTIVITIES ***/
@media only screen and (min-width: 1367px){
    #activities{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 4rem 10rem 2rem 2rem 2rem 2rem 10rem;
        column-gap: 2rem;
        margin-top: 4rem;
        margin: 2rem;
    }

    .title_activities{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .port{
        grid-column: 1/2;
        grid-row: 2/8;
    }
    
    .fort{
        grid-column: 2/3;
        grid-row: 2/6;
    }
    
    .frioul{
        grid-column: 2/3;
        grid-row: 7/8;
    }
    
    .calanques{
        grid-column: 3/4;
        grid-row: 2/8;
    }
    
    .garde{
        grid-column: 4/5;
        grid-row: 2/4;
    }
    
    .parc{
        grid-column: 4/5;
        grid-row: 5/8;
    }
        
    #photo_1{
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        width: 100%;
        height: 89%;
    }
        
    #photo_2{
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        width: 100%;
        height: 80%;
    }
        
    #photo_3{
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        width: 100%;
        height: 70%;
    }
        
    #photo_4{
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        width: 100%;
        height: 89%;
    }
          
    #photo_5{
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        width: 100%;
        height: 75%;
    }
        
    #photo_6{
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        width: 100%;
        height: 79%;
    }
}
    
@media only screen and (min-width: 320px) and (max-width: 767px){
    #activities{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
        row-gap: 2rem;
        padding: 2rem;
    }

    #photo_1, #photo_2, #photo_3, #photo_4, #photo_5, #photo_6{
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        width: 100%;
        height: 75%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1366px){
    #activities{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 15rem 15rem 15rem;
        column-gap: 2rem;
        row-gap: 2rem;
        padding: 2rem;
    }

    #photo_1, #photo_2, #photo_3, #photo_4, #photo_5, #photo_6{
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        width: 100%;
        height: 80%;
    }

    .title_activities{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .port{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .fort{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .frioul{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .calanques{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    
    .garde{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .parc{
        grid-column: 2/3;
        grid-row: 4/5;
    }
}

.act_h3{
    padding: 0.95rem 0 1.55rem 1.25rem;
    font-size: medium;
}

.port{
    border-radius: 20px;
    box-shadow: 0px 2px 30px 0px lightgray;
    cursor: pointer;
}

.fort{
    border-radius: 20px;
    box-shadow: 0px 2px 30px 0px lightgray;
    cursor: pointer;
}
        
.frioul{
    border-radius: 20px;
    box-shadow: 0px 2px 30px 0px lightgray;
    cursor: pointer;
}
        
.calanques{
    border-radius: 20px;
    box-shadow: 0px 2px 30px 0px lightgray;
    cursor: pointer;
}

.garde{
    border-radius: 20px;
    box-shadow: 0px 2px 30px 0px lightgray;
    cursor: pointer;
}
  

.parc{
    border-radius: 20px;
    box-shadow: 0px 2px 30px 0px lightgray;
    cursor: pointer;
}
/*** ACTIVITIES ***/
    
    
    
/*** FOOTER ***/
#footer{
    width: 100%;
    height: 250px;
    background: #f2f2f2;
    margin-top: 4rem;
}
    
.columnwrapper{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 100%;
    max-width: 1440px;
}
    
.linkswrapper{
    display: flex;
    flex-direction : column;
    margin: 1rem;
    width: 25%;
}
    
.footerlinks{
    text-decoration: none;
    color: black;
    padding: 15px 0 0 0;
}

@media only screen and (max-width: 767px){
    #footer{
        width: 100%;
        height: 100%;
    }
        
    .columnwrapper{
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-bottom: 2rem;
    }
}
/*** FOOTER ***/    